/*
 *  This is first css file
 */
body {
    font-size:1em;
    background-color: gray;
    color: rgb(255, 255, 255);

}

p {
    font-color: white;
    margin-bottom: 1em;
}

h1 {
    font-color: blue;
}

h6 {
    margin-top: 1em;
    color: blue;
}
