<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express : EJS Rendering</title>
</head>
<body>
  <div class="wrapper">
    <h2>About Page</h2>
    <p>Here is About page~~~</p>
  </div>
</body>
</html>