<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <% include partials/header.ejs %>
  
  <!-- content here!! -->
  <div class="wrapper">
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>

  <% include partials/footer.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
</body>
</html>