<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <% include partials/header.ejs %>
  
  <!-- content here!! -->
  <div class="wrapper">
    <h2>Home Page</h2>
    <p>Here is Home page~~~</p>
  </div>

  <% include partials/footer.ejs %>
</body>
</html>